.results-section {
    margin: 20px;
}

.selected-game {
    border-color: aquamarine;
    float: left;
    width: 50%;
    height: 100%;
}

.remaining-games {
    border-color: aqua;
    width: 50%; 
    height: 500px;
    float: left;
    overflow-y: auto; 
}