.Friend {
    width: 35%; 
    margin: 16px auto;
    border: 1px solid #eee; 
    box-shadow: 0 5px 6px #ccc;
    padding: 16px;
    text-align: center;
}

.Friend-img { 
    float: left;
    object-fit: contain;
    border: 1px solid #eee; 
}